app-question-form-controls {
  .app-question-form-controls__container {
    margin-top: 48px;
  }

  .app-question-form-controls__controls-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app-question-form-controls__title-text {
    color: $main-color;
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 16px;
    text-align: center;
  }

  .app-question-form-controls__controls-array {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $tablet-min) {
      width: 464px;
    }
  }

  .app-question-form-controls__single-control-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .app-question-form-controls__single-control {
    flex: 1;
  }

  .app-question-form-controls__delete-button {
    padding-bottom: 20px;
  }

  .app-question-form-controls__answer-counter {
    padding-bottom: 20px;
    color: $main-color;
  }
}
