app-question-form {
  .app-question-form__wrapper {
    width: 90%;
    margin: 0 auto;

    @media (min-width: $tablet-min) {
      width: 70%;
    }
  }

  .app-question-form__footer,
  .app-question-form__header {
    background-color: $main-color;
  }

  .app-question-form__footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  .app-question-form__heading-text {
    color: white;
    padding: 24px 0;
    font-size: 2.4rem;
    text-align: center;

    @media (min-width: $tablet-min) {
      text-align: left;
    }
  }

  .app-question-form__title-text {
    color: $main-color;
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 16px;
    width: 100%;
    text-align: center;

    @media (min-width: $tablet-min) {
      text-align: right;
      width: 200px;
    }
  }

  .app-question-form__category-question-container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
    justify-content: center;

    @media (min-width: $tablet-min) {
      flex-direction: row;
    }
  }

  .app-question-form__control-wrapper {
    width: 100%;

    @media (min-width: $tablet-min) {
      width: 240px;
    }
  }

  .app-question-form__shadow-wrapper {
    background-color: white;
    border-radius: 8px;
    max-width: 540px;
    padding: 8px 16px 24px;
    margin: 32px auto;

    @media (min-width: $tablet-min) {
      padding: 8px 0 24px;
    }
  }

  .app-question-form__shadow-wrapper--bottom-spacing {
    margin-bottom: 64px;
  }

  .app-question-form__footer-btns-wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;

    @media (min-width: $tablet-min) {
      justify-content: flex-end;
    }
  }

  .app-question-form__footer-btn {
    margin: 16px 0;
    padding: 0 24px;
    color: #ffffff;
    font-size: 1.8rem;
  }
}
